{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="container">
            <h1>{{ supper.combo_id }}</h1>
        </div>
        <div class="container">
            <h2>{{ supper.primary_food.name }} (ksh {{ supper.primary_food.price }}) and {{ supper.secondary_food.name }} (ksh {{ supper.secondary_food.price }})</h2>
            <p>Total ksh {{ supper.meal_price() }}</p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}
